.card.card_find
    h1.title Найдём номера под ваши пожелания
    include ../form-elements/date-dropdown-wrapper.pug
    h3.form-elements__item-title.mt22.mb5 гости
    .text-field.text-field_dropdown Сколько гостей                
    button(href="searchRoom.html").button.button__transfer.mt31.pl91 подобрать номер