header.header
    .container
        .header__wrapper
            a(href="./landingPage.html").logo-brand
                img(src="../../icons/logo-brand.png", alt="logo-brand")
            nav.header__nav
                ul.header__nav-list
                    li.header__nav-item
                        a(href="#") О нас
                    li.header__nav-item 
                        a(href="#") Услуги
                    li.header__nav-item
                        a(href="#") Вакансии
                    li.header__nav-item
                        a(href="#") Новости
                    li.header__nav-item
                        a(href="#") Соглашения
            .button.button__outline.button__outline_header
                        .button__outline-wrapper.button__outline-wrapper_header войти
            .button.button__fill.button__fill_header зарегистрироваться