doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Search room
    body 
        include ../../components/header/header.pug
        main.search-room
            .container
                .search-room__wrapper
                    .search-room__filter-wrapper
                        include ../../components/form-elements/filter-date-dropdown.pug
                        include ../../components/form-elements/dropdown-amenities-default.pug
                        +dropdownAmenities("mt21","гости","3 гостя, 1 младенец")
                        include ../../components/form-elements/range-slider.pug
                        include ../../components/form-elements/checkbox-simple.pug
                        include ../../components/form-elements/checkbox-rich.pug
                        +dropdownAmenities("mt33","удобства номера","2 спальни, 2 кровати...")
                        include ../../components/form-elements/checkbox-list.pug
                    .search-room__main-wrapper
                        h1.search-room__title Номера, которые мы для вас подобрали
                        .search-room__card-room-wrapper
                            include ../../components/cards/card_room.pug
                            +cardRoom("./img/room_888.jpg","888","люкс","9 990₽","145",5)
                            +cardRoom("./img/room_840.jpg","840","","9 990₽","65",4)
                            +cardRoom("./img/room_888.jpg","980","люкс","8 500₽","35",3)
                            +cardRoom("./img/room_856.jpg","856","","7 300₽","19",5)
                            +cardRoom("./img/room_740.jpg","740","","6 000₽","44",4)
                            +cardRoom("./img/room_982.jpg","982","","5 800₽","56",3)
                            +cardRoom("./img/room_678.jpg","678","","5 500₽","45",5)
                            +cardRoom("./img/room_450.jpg","450","","5 300₽","39",4)
                            +cardRoom("./img/room_350.jpg","350","","5 000₽","77",3)
                            +cardRoom("./img/room_666.jpg","666","","5 000₽","25",5)
                            +cardRoom("./img/room_444.jpg","444","","5 000₽","15",3)
                            +cardRoom("./img/room_352.jpg","352","","5 000₽","55",3)                            
                        .search-room__pagination-wrapper
                            include ../../components/form-elements/pagination.pug
        include ../../components/footer/footer.pug