footer.footer
    .container
        .footer__wrapper
            .footer__logo-wrapper
                a(href="#").logo-brand
                    img(src="../../icons/logo-brand.png", alt="logo-brand") 
                .footer__logo-text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
            ul.footer__menu-list навигация
                li.footer__menu-item
                    a(href="#") О нас
                li.footer__menu-item
                    a(href="#") Новости
                li.footer__menu-item
                    a(href="#") Служба поддержки
                li.footer__menu-item
                    a(href="#") Услуги
            ul.footer__menu-list о нас
                li.footer__menu-item
                    a(href="#") О сервисе
                li.footer__menu-item
                    a(href="#") Наша команда
                li.footer__menu-item
                    a(href="#") Вакансии
                li.footer__menu-item
                    a(href="#") Инвесторы
            ul.footer__menu-list Служба поддержки
                li.footer__menu-item
                    a(href="#") Соглашения
                li.footer__menu-item
                    a(href="#") Сообщества
                li.footer__menu-item
                    a(href="#") Связь с нами
            .footer__subscription
                .footer__subscription-title Подписка
                .footer__subscription-text Получайте специальные предложения и новости сервиса
                .text-field.text-field_subscription
                    input.text-field_subscription-inner(type="text" placeholder="Email")
    .footer__divider
    .container
        .footer__copyright-social-wrapper
            .copyright Copyright © 2018 Toxin отель. Все права защищены.
            .social
                img(src="../../icons/twitter.svg", alt="twitter").social__img
                img(src="../../icons/facebook.svg", alt="facebook").social__img
                img(src="../../icons/instagram.svg", alt="instagram").social__img