@import '../../sass/_variables'

.button
    display: flex
    justify-content: center
    align-items: center
    min-width: 9.9rem
    height: 4.4rem
    border-radius: 2.2rem
    font-size: 1.2rem
    text-transform: uppercase
    font-weight: 700
    border: none
    outline: none
    cursor: pointer
    &__fill
        background-image: $mainGradient
        color: #ffffff
        padding: 0 2rem
        letter-spacing: -0.03rem
        &_header
            height: 3.4rem
            margin-left: 2rem
            letter-spacing: normal
        &:hover
            background-image: $hoverGradient
    &__fill-hover
        background-image: $hoverGradient
        color: #ffffff
        padding: 0 2rem
        letter-spacing: -0.03rem
    &__outline
        background-image: $mainGradient
        color: $purple
        &_header
            min-width: 8.7rem
            height: 3.4rem
        &:hover
            background-image: $hoverGradient
    &__outline-hover
        background-image: $hoverGradient
        color: $purple
    &__outline-wrapper
        display: flex
        justify-content: center
        align-items: center
        width: 9.4rem
        height: 3.9rem
        border-radius: 2rem
        background-color: #ffffff
        letter-spacing: -0.03rem
        &_header
            width: 8.3rem
            height: 3rem
    &__transparent
        max-width: fit-content
        min-width: auto
        height: 1.9rem
        color: $purple
        &:hover
            color: $darkShade-50
    &__transparent-hover
        max-width: fit-content
        min-width: auto
        height: 1.9rem
        color: $darkShade-50
    &__transfer
        position: relative
        width: 32rem
        background-image: $mainGradient
        color: #ffffff
        justify-content: start
        letter-spacing: .08rem
        &:hover
            background-image: $hoverGradient
        &::after
            content: url(../../icons/arrow_forw_white.svg)
            position: absolute
            top: 10px
            right: 10px
            cursor: pointer
