h3.form-elements__item-title.mt30.mb7 доступность
.checkbox
        .checkbox-item.checkbox-item_rich
            input(type="checkbox" id="wide-corridor" name="possibles" value="Широкий коридор")
            label(for="wide-corridor") Широкий коридор
                .checkbox-item__rich-descr.w206 Ширина коридоров в номере не менее 91 см.
        .checkbox-item.checkbox-item_rich
            input(type="checkbox" id="helper" name="possibles" value="Завтрак")
            label(for="helper") Помощник для инвалидов
                .checkbox-item__rich-descr На 1 этаже вас встретит специалист  и проводит до номера.