h3.form-elements__item-title.mt30.mb7 правила дома
.checkbox
    .checkbox-item
        input(type="checkbox" id="smocking" name="possibles" value="Можно курить")
        label.lh18(for="smocking") Можно курить
    .checkbox-item
        input(type="checkbox" id="pet" name="possibles" value="Можно с питомцами" checked)
        label.lh21(for="pet") Можно с питомцами
    .checkbox-item
        input(type="checkbox" id="guests" name="possibles" value="Можно пригласить гостей (до 10 человек)" checked)
        label(for="guests") Можно пригласить гостей (до 10 человек)