.checkbox-list.checkbox-list_close.mt30
    h3.form-elements__item-title дополнительные удобства
.dropdown-list-wrapper.dropdown-list-wrapper_invisible
    .dropdown-list
        .dropdown-list__item
            .dropdown-list__item-title спальни
            .dropdown-list__value-block
                .dropdown-list__minus-btn -
                .dropdown-list__item-value 2
                .dropdown-list__plus-btn +
        .dropdown-list__item
            .dropdown-list__item-title кровати
            .dropdown-list__value-block
                .dropdown-list__minus-btn -
                .dropdown-list__item-value 2
                .dropdown-list__plus-btn +
        .dropdown-list__item
            .dropdown-list__item-title ванные комнаты
            .dropdown-list__value-block
                .dropdown-list__minus-btn.dropdown-list__minus-btn_disabled -
                .dropdown-list__item-value 0
                .dropdown-list__plus-btn +