.date-dropdown-wrapper.mt21
    .date-dropdown-wrapper__item
        h3.form-elements__item-title.mb6 прибытие
        .text-field.text-field_dropdown.text-field_date-dropdown ДД.ММ.ГГГГ
    .date-dropdown-wrapper__item
        h3.form-elements__item-title.mb6 выезд
        .text-field.text-field_dropdown.text-field_date-dropdown ДД.ММ.ГГГГ