mixin dropdownAmenities(mt,titleText,textFieldText)
    h3.form-elements__item-title.w266.mb6(class=mt) #{titleText}
    .dropdown-amenities
        .text-field.text-field_dropdown.text-field_dropdown-amenities-default.pb3 #{textFieldText}