h3.form-elements__item-title.mb6 даты пребывания в отеле
.text-field.text-field_dropdown.text-field_filter-date-dropdown
    .text-field__check-in 19 авг
    .text-field__divider -
    .text-field__check-out 23 авг