.pagination
    .pagination__wrapper
        .pagination__item 1
        .pagination__item 2
        .pagination__item 3
        .pagination__item ...
        .pagination__item 15
        .pagination__item
    .pagination__descr
        .min-num 1
        pre.pl1  - 
        .max-num 12
        pre  из 100+ вариантов аренды