h3.form-elements__item-title.mt31.ls01.mb23 диапазон цены
    .form-elements__item-subtitle.form-elements__item-subtitle_range-slider
        .min-value 5 000р
        pre - 
        .max-value 10 000р 
.range-slider-wrapper
    .range-slider
        .range-slider__scale
            .range-slider__interval
            .range-slider__roller.range-slider__roller_min
            .range-slider__roller.range-slider__roller_max
        .range-slider__descr Стоимость за сутки пребывания в номере